*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
.btn-rojo{
    background-color: red;
    color: white;

}
.calculadora{
    height: 57vh;
    background-color: rgb(28, 27, 27);
    margin: 10% 40% 0% 40%;
    border-radius: 15px;


}
input{
    margin: 6% 10% 0% 9.5%;
    border-radius: 10px;
    background-color: rgb(100, 134, 125);
    width: 215px;
    height: 70px;
}

.botones{
    border-radius: 50%;
    margin: 5% 10% 0% 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
}


.suma{
    grid-row: span 2;
    height: 100px;

}

button{
    background-color: rgba(255, 255, 255, 0.358);
    color: wheat;
    height: 45px;
    border-radius: 15%;
    font-size: 20px;
    border-color: rgba(255, 255, 255, 0.28);
}


#pantalla{
    color: aliceblue;
    font-size: 30px;
    text-align: end;
}

