*{
    margin: 0%;
    padding: 0%;
}

body{
    margin: 50px;
    font-family: "Montserrat", sans-serif;
}

.background{
    background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(222, 11, 11, 1) 100%);
}

a{
    text-decoration: none;
    
}
.button{
    text-align: center;
    background-color: #1900ff;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    color: wheat;    
    cursor: pointer;
    font-size: 20px;
    padding: 10px 25px;
    transition: all 200ms;
}

.botones{
    display: flex;
}

.cuadrado.rojo{
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 10%;
}
.cuadrado.amarillo{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 10%;
}

.cuadrado.verde{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 10%;
}

.nivel1{
    display: flex;
    justify-content: center;

}
.nivel2 {
    display: flex;
    justify-content: flex-end;
}

.nivel3{
    display: flex;
    justify-content: flex-start;
    gap: 1%;
    margin: 25% 0 0 0;
}

.nivel4{
    display: flex;
    justify-content: flex-start;
    gap: 1%;
    margin: 38% 0 0 0;
}

.nivel5{
    display: flex;
    gap: 2%;
    justify-content: center;
    margin: 25% 0 0 0;
}

.nivel6{
    display: flex;
    justify-content: space-between;
    margin: 50% 0 0 0;
}

.nivel7{    
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nivel8{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 2%;

}

.nivel9{
    margin: 32% 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nivel10{
    margin: 25% 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 2%;
}

.nivel11{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 25px;
}

